[submodule "thirdparty/D"]
	path = thirdparty/D
	url = https://github.com/denisov-v/ShortestPath.git
[submodule "thirdparty/E"]
	path = thirdparty/E
	url = https://github.com/ActiveState/code.git
[submodule "thirdparty/G"]
	path = thirdparty/G
	url = https://github.com/heyitstanyado/BellmanFord.git
[submodule "thirdparty/I"]
	path = thirdparty/I
	url = https://github.com/sysilion/ShortestPath.git
[submodule "thirdparty/J"]
	path = thirdparty/J
	url = https://github.com/ibaaj/dijkstra-cartography.git
[submodule "thirdparty/M"]
	path = thirdparty/M
	url = https://github.com/fedelebron/Dijkstra.git
[submodule "thirdparty/K"]
	path = thirdparty/K
	url = https://github.com/dragonslayerx/Competitive-Programming-Repository.git
[submodule "thirdparty/F"]
	path = thirdparty/F
	url = https://github.com/DLily0129/Data-Structure.git
[submodule "thirdparty/C_CppUtilibs"]
	path = thirdparty/C_CppUtilibs
	url = https://github.com/Zhouxing-Su/CppUtilibs.git
